{
    "services": {
        "rest": {
            "host": "0.0.0.0",
            "port": 3000
        }
    },
    "database": {
        "uri": "mongodb://localhost:27017/db_user_profile"
    },
    "sessions": {
        "expiry_in_seconds": "3600"
    }
}